<ul>
    <li><a href="javascript:void(0)">View Cookie Content</a></li>
    <li><a href="javascript:void(0)">{{submessage}}</a></li>
    <li><a href="javascript:void(0)">Welcome, {{use}}. Enjoy your premium content</a></li>
</ul>

<h3 id="titul">{{message}}</h2>
<div class="form_content" id="guessid">
    <p id="error_message"></p>
    <form>
        <input class="inp" id="guess" type="text" name="guess"> <br>
        <button class="inp" type="button" onclick="totalguess()">Guess!</button>
    </form>
</div>

<p>Num Views: {{numviews}}</p>

<div class=content>
    <img src={{img}}>
</div>

<div class="logout_content">
    <form>
        <button class="inp" type="button" onclick="logout()">Logout</button>
    </form>
</div>