<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    {{!--<p>Hello, {{user}}</p>--}}
    {{!--<p>Here are some foods!</p>--}}
    
    
    {{!--<ul>--}}
    {{!--    {{#each food_list}}--}}
    {{!--        <li>{{this}}</li>--}}
    {{!--    {{/each}}--}}
    {{!--</ul>--}}
    <p>Hello! Here is your fact for the number {{num}}</p>
    <p>{{Fact1}}</p>
    <p>{{Fact2}}</p>
  </body>
</html>