<p>{{message}}</p>
<ul>
    {{#each animals}}
            <li>{{this.name}} : {{this.tally}}</li>
    {{/each}}
</ul>
<p>Thank you, {{n}} for voting! The results of the final vote will be emailed to {{ema}}</p>
